{% load static %}
<!-- Footer -->
<footer class="bg-pencil-lead text-white py-12">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- About Section -->
            <div>
                <h3 class="text-xl font-bold mb-4">About</h3>
                <p class="text-gray-400">
                    MD. Likhon Sorkar is a passionate developer creating amazing web applications.
                </p>
            </div>
            
            <!-- Important Links Section -->
            <div>
                <h3 class="text-xl font-bold mb-4">Important Links</h3>
                <ul class="space-y-2">
                    <li><a href="{% url 'homepage' %}" class="hover:text-squeaky transition">Home</a></li>
                    <li><a href="{% url 'blog' %}" class="hover:text-squeaky transition">Blog</a></li>
                    <li><a href="{% url 'contact' %}" class="hover:text-squeaky transition">Contact</a></li>
                    <li><a href="{% url 'about' %}" class="hover:text-squeaky transition">About Us</a></li>
                    <li><a href="{% url 'terms' %}" class="hover:text-squeaky transition">Terms & Conditions</a></li>
                </ul>
            </div>
            
            <!-- Social Links Section -->
            <div>
                <h3 class="text-xl font-bold mb-4">Social Links</h3>
                <div class="flex space-x-6">
                    <a href="https://www.facebook.com/www.likhon.com.bd/" class="text-white hover:text-squeaky transition text-2xl"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/officiallikhon" class="text-white hover:text-squeaky transition text-2xl"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/likhonsorkar/" class="text-white hover:text-squeaky transition text-2xl"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/likhonsorkar" class="text-white hover:text-squeaky transition text-2xl"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-8 pt-8 border-t border-gray-700">
            <p>&copy; 2025 MD. Likhon Sorkar. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        once: true,
    });
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    menuBtn.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        menuBtn.classList.toggle('open'); // Optional: animate hamburger
    });
</script>
<!-- Cart JS -->
<script src="{% static '/js/cart.js' %}"></script>
</body>
</html>